.card {
  height: 80%;
  width: 90%;
  background-color: var(--primary-color);
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-top: 10px;

  .card-cover {
    height: 200px;
  }
  .card-game {
    font-size: small;
  }
  .quoteMain {
    font-size: 0.9rem;
  }
  .quoteBold {
    font-style: italic;
    font-weight: bold;
  }
}
